.wrapper {
  width: 960px;
}

/*=============== header =================*/

.header {
  background-color: #CA8B76;
  position: relative;
  padding: 30px 30px;
  height: 160px;
  width: 100%;
}

.name, h1, p {
  text-align: center;
}
.center {
  margin: 0 auto;
  width: 840px;
}
.header h1 {
  font-size: 56px;
  color: white;
  font-family: Arial, Sans-Serif;
}
.header p {
  position: absolute;
  font-size: 40px;
  font-family: Verdana, Sans-Serif;
  color: white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  left: 385px;
  top: 30px;
  padding-top: 60px;
}
.name {
  font-size: 40px;
  position: absolute;
  left: 265px;
  top: 120px;
  font-weight: bold;
  font-family: Georgia, Serif;
  letter-spacing: 20px;
  border: 60px solid #d9c0b8;
  border-top: none;
  padding: 0;
}
.name span {
  font-size: 70px;
}
.name .last {
  letter-spacing: 0;
}

/*================== content ===============*/

.section.first {
  margin: 50px 0;
}
.end {
  list-style-type: none;
  border: 1px solid black;
  border-radius: 40px;
}
.end li {
  background-image: url('images/1.png');
  background-repeat: no-repeat;
  background-position: 100px;
  background-size: 50px;
  font-size: 36px;
  margin: 30px 0;
  text-align: center;
}
.end li a {
  text-decoration: none;
  color: black;
}
.end li a:hover {
  text-decoration: underline;
}
.content h2 {
  text-align: center;
  font-size: 49px;
  margin: 20px;
}

/*================ footer ==============*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #CA8B76;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 30px;
  color: white;
}
.footer a {
  color: #eee;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}